<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>CraftShop</title>
</head>
<body>

<form method="POST">
    <h1>Добавление нового товара</h1>
    {% csrf_token %}
    {{ form.as_p}}
<!--    -->
<!--    <p>-->
<!--        <label for="name"> Наименование</label>-->
<!--        <input type="text" name="name" id="name"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="description"> Описание</label>-->
<!--        <input type="text" name="description" id="description"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="price"> Цена</label>-->
<!--        <input type="text" name="price" id="price"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <label for="category"> Категория</label>-->
<!--        <input type="text" name="category" id="category"/>-->
<!--    </p>-->
    <button type="submit">Save</button>
</form>
</body>
</html>